body{
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}
h1{
    font-size: 30px;
}
.para1, .para2{
    font-size: 15px;
}
.container1>img{
    width: 600px;
    height: 300px;
}
.conatiner2>img{
    width: 600px;
    height: 400px;
}